@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
span,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #222831;
  overflow: hidden;
}

.bg {
  width: 100%;
  background: #222831;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#main {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.link {
  color: #eaf6f6;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
}

.link:hover {
  color: #66bfbf;
}

.link:active {
  color: #00adb5;
}

.menu {
  position: fixed;
  padding: 10vh 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 20vh;
}

@media (min-width: 576px) {
  .menu {
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: auto;
  }
}

.menu::before, .menu::after {
  content: '';
  width: 5vw;
  height: 1px;
  position: absolute;
  background: #eaf6f6;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 576px) {
  .menu::before, .menu::after {
    width: 1px;
    height: 10vh;
  }
}

.menu::before {
  left: 0;
}

@media (min-width: 576px) {
  .menu::before {
    top: 0;
    left: initial;
  }
}

.menu::after {
  right: 0;
}

@media (min-width: 576px) {
  .menu::after {
    bottom: 0;
    right: initial;
  }
}

.menu:hover::before, .menu:hover::after {
  background-color: #66bfbf;
}

@media (min-width: 576px) {
  .menu:hover::before, .menu:hover::after {
    height: 8vh;
  }
}

.menu__item {
  font-size: 1.5rem;
  color: #eaf6f6;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:hover {
  color: #66bfbf;
}

.menu__item:active {
  color: #66bfbf;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.menu__item::before, .menu__item::after {
  content: attr(data-hover-content);
  color: #66bfbf;
  position: absolute;
  width: auto;
  text-align: right;
  right: -10%;
  opacity: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  display: none;
}

@media (min-width: 576px) {
  .menu__item::before, .menu__item::after {
    display: block;
  }
}

.menu__item::before {
  -webkit-transition: right 0.3s, opacity 0.2s;
  transition: right 0.3s, opacity 0.2s;
}

.menu__item::after {
  -webkit-transition: right 0.2s, opacity 0.1s;
  transition: right 0.2s, opacity 0.1s;
}

.menu__item:hover::before, .menu__item:hover::after {
  right: 130%;
}

.menu__item:hover::before {
  opacity: 1;
}

.menu__item:hover::after {
  opacity: 0.3;
}

/* Intro background */
#particles {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  width: 75vw;
  left: 1rem;
}

@media (min-width: 576px) {
  .hero__content {
    display: block;
    top: 37%;
    left: 10vw;
  }
}

.hero__username {
  font-size: 0.6rem;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  font-family: "Montserrat", sans-serif;
  color: #f76b8a;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 1rem #222831;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero__username--active {
  color: #eaf6f6;
}

.hero__username--active::before {
  content: '/';
}

@media (min-width: 576px) {
  .hero__username {
    margin-left: 0.3rem;
    margin-bottom: 0;
  }
}

.hero__title {
  position: relative;
  display: inline-block;
  color: #eaf6f6;
  font-size: 2.2rem;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 1px 1px 1rem #222831;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #eaf6f6), color-stop(50%, #66bfbf), to(#00adb5));
  background: linear-gradient(to right, #eaf6f6 50%, #66bfbf 50%, #00adb5);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero__title::before, .hero__title::after {
  position: absolute;
  -webkit-text-fill-color: #eaf6f6;
  font-weight: 200;
  opacity: 0;
}

.hero__title::before {
  content: '{';
  left: 1rem;
  -webkit-transition: opacity 0.2s, left 0.3s;
  transition: opacity 0.2s, left 0.3s;
}

.hero__title::after {
  content: '}';
  right: 1rem;
  -webkit-transition: opacity 0.2s, right 0.3s;
  transition: opacity 0.2s, right 0.3s;
}

.hero__title:hover {
  background-position: -100%;
}

.hero__title:hover + .hero__subtitle {
  color: #f76b8a;
}

.hero__title:hover::before, .hero__title:hover::after {
  opacity: 1;
}

.hero__title:hover::before {
  left: -2rem;
}

.hero__title:hover::after {
  right: -2rem;
}

@media (min-width: 576px) {
  .hero__title {
    font-size: 3.2rem;
  }
}

.hero__subtitle {
  margin-left: 0.2rem;
  color: #66bfbf;
  letter-spacing: 0.25rem;
  font-weight: 300;
  font-size: 1rem;
  text-shadow: 1px 1px 1rem #222831;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media (min-width: 576px) {
  .hero__subtitle {
    font-size: 1.1rem;
    letter-spacing: 0.5rem;
  }
}

.hero__description {
  margin-top: 1rem;
  margin-left: 0.3rem;
  color: #eaf6f6;
  font-weight: 300;
  font-size: 0.8rem;
  text-shadow: 1px 1px 1rem #222831;
}

.hero__description__company {
  font-weight: 400;
}

.hero__description .icon {
  font-size: 1rem;
  vertical-align: bottom;
}

@media (min-width: 576px) {
  .hero__description {
    font-size: 0.8rem;
  }
}

.hero__contact {
  margin-left: 0.3rem;
  margin-top: 3rem;
  cursor: pointer;
}

.hero__contact-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  outline: none;
  overflow: hidden;
  color: #eaf6f6;
  font-size: 0.7rem;
  font-weight: bold;
  font-weight: 400;
  letter-spacing: 0.7rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1rem #222831;
}

.hero__contact-button::after {
  content: '';
  position: absolute;
  z-index: 0;
  height: 1rem;
  width: 100%;
  top: 50%;
  right: 0;
  margin-top: -0.5rem;
  background: #eaf6f6;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.hero__contact-button::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #eaf6f6;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.hero__contact-button:hover, .hero__contact-button--active {
  color: #00adb5;
}

.hero__contact-button:hover::after, .hero__contact-button--active::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.hero__contact-button:hover::before, .hero__contact-button--active::before {
  width: 100%;
  color: #00adb5;
}

.hero__contact-message {
  display: block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
  color: #eaf6f6;
  font-size: 0.8rem;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05rem;
  margin-top: 0.2rem;
}

.hero__contact-message--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */