@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap");
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.bg {
  width: 100%;
  background: #222831;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#main {
  display: block !important;
  position: absolute;
  z-index: 1;
}

.progress {
  display: none;
  position: fixed;
  width: 100%;
  background: gray;
}

.progress__bar {
  height: 10px;
  width: 0;
  background: red;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 100%;
}

.container__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 5rem;
}

.container__title {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: #eaf6f6;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.container__title::before {
  content: attr(data-background-text);
  color: #eaf6f6;
  position: absolute;
  z-index: -1;
  font-weight: 700;
  -webkit-transform: translate(-55%, -55%);
          transform: translate(-55%, -55%);
  text-transform: uppercase;
  font-size: 4.5rem;
  opacity: 0.05;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.container__title::after {
  content: '';
  width: 4rem;
  height: 0.15rem;
  background: #66bfbf;
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.container__title:hover {
  color: #66bfbf;
}

.container__title:hover::before {
  color: #66bfbf;
}

.container__title:hover::after {
  background-color: #eaf6f6;
  width: 100%;
}

.container__content {
  padding: 4rem 5rem 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline {
  position: relative;
  width: 100%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #eeeeee;
  top: 0;
  bottom: 0;
}

.timeline__item {
  padding: 1rem 1rem 0;
  position: relative;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.timeline__item::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  top: 1.25rem;
  left: -0.25rem;
  background: #00adb5;
  border-radius: 50%;
}

.timeline__item:last-child {
  padding-bottom: 1.5rem;
}

.timeline:hover .timeline__item:not(:hover) > * {
  opacity: 0.5;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.timeline:hover .timeline__item:not(:hover)::after {
  background: #4d606e;
}

.timeline__heading, .timeline__description, .timeline__date {
  text-transform: uppercase;
  display: block;
}

.timeline__heading {
  color: #66bfbf;
  font-weight: 600;
  font-size: 0.95rem;
}

.timeline__description {
  color: #d3d4d8;
  font-weight: 400;
  margin-top: 0.2rem;
}

.timeline__date {
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.7rem;
  margin-top: 0.1rem;
  letter-spacing: 0.02rem;
}

.timeline__content {
  margin-left: 1rem;
  margin-top: 1rem;
}

.timeline .content__title {
  text-transform: uppercase;
  color: #66bfbf;
  font-size: 0.8rem;
  font-weight: 600;
}

.timeline .content__list {
  color: #d3d4d8;
  margin-top: 0.5rem;
}

.timeline .content__item {
  font-size: 0.81rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.04rem;
}

.timeline .content__item-date {
  font-size: 0.7rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  color: #eaf6f6;
}

/* Intro background */
#particles {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
}

.hero__content {
  position: absolute;
  top: 40%;
  left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.hero__username {
  margin-left: 0.3rem;
  font-family: "Montserrat", sans-serif;
  color: #f76b8a;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 1rem #222831;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero__username--active {
  color: #eaf6f6;
}

.hero__username--active::before {
  content: '/';
}

.hero__title {
  position: relative;
  display: inline-block;
  color: #eaf6f6;
  font-size: 3.2rem;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 1px 1px 1rem #222831;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #eaf6f6), color-stop(50%, #66bfbf), to(#00adb5));
  background: linear-gradient(to right, #eaf6f6 50%, #66bfbf 50%, #00adb5);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero__title::before, .hero__title::after {
  position: absolute;
  -webkit-text-fill-color: #eaf6f6;
  font-weight: 200;
  opacity: 0;
}

.hero__title::before {
  content: '{';
  left: 1rem;
  -webkit-transition: opacity 0.2s, left 0.3s;
  transition: opacity 0.2s, left 0.3s;
}

.hero__title::after {
  content: '}';
  right: 1rem;
  -webkit-transition: opacity 0.2s, right 0.3s;
  transition: opacity 0.2s, right 0.3s;
}

.hero__title:hover {
  background-position: -100%;
}

.hero__title:hover + .hero__subtitle {
  color: #f76b8a;
}

.hero__title:hover::before, .hero__title:hover::after {
  opacity: 1;
}

.hero__title:hover::before {
  left: -2rem;
}

.hero__title:hover::after {
  right: -2rem;
}

.hero__subtitle {
  margin-left: 0.2rem;
  color: #66bfbf;
  letter-spacing: 0.5rem;
  font-weight: 300;
  text-shadow: 1px 1px 1rem #222831;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.hero__location {
  margin-top: 1rem;
  color: #eaf6f6;
  font-weight: 300;
  text-shadow: 1px 1px 1rem #222831;
}

.hero__contact {
  margin-left: 0.3rem;
  margin-top: 3rem;
}

.hero__contact-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  outline: none;
  overflow: hidden;
  color: #eaf6f6;
  font-size: 0.7rem;
  font-weight: bold;
  font-weight: 400;
  letter-spacing: 0.7rem;
  line-height: 0.75;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1rem #222831;
}

.hero__contact-button::after {
  content: '';
  position: absolute;
  z-index: 0;
  height: 1rem;
  width: 100%;
  top: 50%;
  right: 0;
  margin-top: -0.5rem;
  background: #eaf6f6;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.hero__contact-button::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #eaf6f6;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.hero__contact-button:hover, .hero__contact-button--active {
  color: #00adb5;
}

.hero__contact-button:hover::after, .hero__contact-button--active::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.hero__contact-button:hover::before, .hero__contact-button--active::before {
  width: 100%;
  color: #00adb5;
}

.hero__contact-message {
  display: block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
  color: #eaf6f6;
  font-size: 0.8rem;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05rem;
  margin-top: 0.2rem;
}

.hero__contact-message--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero__footer {
  cursor: pointer;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .scroll {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .scroll__label {
  color: #eaf6f6;
  text-shadow: 1px 1px 1rem #222831;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.hero .scroll__line {
  width: 2.5rem;
  height: 1px;
  bottom: 3rem;
  position: absolute;
  overflow: hidden;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero .scroll__line::before, .hero .scroll__line::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero .scroll__line::after {
  background: #eaf6f6;
  -webkit-animation: moveDown 3s infinite;
          animation: moveDown 3s infinite;
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
/*# sourceMappingURL=main.css.map */