.loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: $gradient-background;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &__logo-container {
    position: relative;
  }

  &__logo {
    width: 2vw;
    position: absolute;
    bottom: 0;
    animation: rotate 2s infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
