.timeline {
  position: relative;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: $color-gray-light;
    top: 0;
    bottom: 0;
  }

  &__item {
    padding: 1rem 1rem 0;
    position: relative;
    opacity: 1;
    transition: 0.8s;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 10px;
      height: 10px;
      top: 1.25rem;
      left: -0.25rem;
      background: $color-primary-dark;
      border-radius: 50%;
    }

    &:last-child {
      padding-bottom: 1.5rem;
    }

    .timeline:hover &:not(:hover) {
      & > * {
        opacity: 0.5;
        transition: 0.8s;
      }

      &::after {
        background: $color-gray-dark;
      }
    }
  }

  &__heading,
  &__description,
  &__date {
    text-transform: uppercase;
    display: block;
  }

  &__heading {
    color: $color-primary;
    font-weight: 600;
    font-size: 0.95rem;
  }

  &__description {
    color: $color-gray;
    font-weight: 400;
    margin-top: 0.2rem;
  }

  &__date {
    color: $color-gray-light;
    font-family: $font-title;
    font-weight: 200;
    font-size: 0.7rem;
    margin-top: 0.1rem;
    letter-spacing: 0.02rem;
  }

  &__content {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .content {
    &__title {
      text-transform: uppercase;
      color: $color-primary;
      font-size: 0.8rem;
      font-weight: 600;
    }

    &__list {
      color: $color-gray;
      margin-top: 0.5rem;
    }

    &__item {
      font-size: 0.81rem;
      font-family: $font-body;
      letter-spacing: 0.04rem;

      &-date {
        font-size: 0.7rem;
        font-weight: 200;
        font-family: $font-title;
        color: $color-primary-light;
      }
    }
  }
}
