@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;900&display=swap');

/* --- VARIABLES --- */
:root {
  --color-background: #222831;
  --color-base-gradient: #1c2128;

  --color-primary: #66bfbf;
  --color-primary-light: #eaf6f6;
  --color-primary-dark: #00adb5;

  --color-secondary: #f76b8a;

  --gradient-background: linear-gradient(180deg, rgba(28,33,40,1) 25%, rgba(34,40,49,1) 64%);
}

/* --- GENERAL --- */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  background-color: var(--color-background);
  color: white;
}

/* --- PROGRESS BAR --- */
/* TODO: define style */
/* .linear-progress {
  position: fixed;
  width: 100%;
  background: gray;
}

.bar {
  height: 10px;
  width: 0;
  background: red;
  transition: width .5s;
} */